[DB] 
db_host = localhost
db_port =
db_name = tipy
db_test_name = tipy_test
db_user = 
db_password = 
db_character_set = utf8

[Mail]
mail_from = "Tipy Admin" <tipy@localhost>
mail_sendmail_path = /usr/sbin/sendmail

;Add your custom config variables below
[Custom]
;myvar1 = "Hello World!"
