php_flag short_open_tag on
# Set flag below to "on" to turn off default php error messages 
php_flag display_errors on
AddDefaultCharset utf-8
Options +FollowSymLinks -Indexes
RewriteBase /
RewriteEngine On

# /
# RewriteRule ^$ /mycontroller [QSA,L]

# Default rewrite rules
# /:controller
RewriteRule ^(\w+)$ /dispatcher.php?controller=$1&action=index [QSA,L]
# /:controller/:action
RewriteRule ^(\w+)/(\w+)$ /dispatcher.php?controller=$1&action=$2 [QSA,L]
# /:controller/:action/:id
RewriteRule ^(\w+)/(\w+)/(\d+)$ /dispatcher.php?controller=$1&action=$2&id=$3 [QSA,L]
